body {
  background-color: cornsilk;
}

body p {
  color: chocolate;
  font-size: 20px;
}

h1 {
  color: crimson;
  font-size: 30px;
}

h2 {
  color: rgb(138, 85, 95);
  font-size: 25px;
}

span {
  color: chocolate;
  font-size: 35px;
}

ul li {
  list-style-type: none;
}
